* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

.background-image {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('images/background.jpg');
    background-size: cover;
    overflow: hidden;
}

.flexbox-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /* margin: 50px auto; */
    box-shadow: 5px 5px 14px rgba(0, 0, 0, .4);
    background-color: #EAE9E8;
}

@media (max-width: 999px) {
    .card {
        width: 90%;
    }
}

@media (min-width: 1000px) {
    .card {
        width: 40%;
    }
}

.title-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content-container {
    padding: 20px;
}

#personal-data img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

#personal-data h1 {
    margin: 0 0 0 20px;
}

.card-content-container>ul {
    padding-left: 0;
    width: 80%;
    margin: 0 auto;
}

/* List style */

ul {
    list-style: none;
    margin: 0;
    color: #210F04;
}

ul li {
    margin-bottom: 3px;
    padding: 0;
    border-left: 7px black solid;
}

li * {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: inline-block;
    background-color: #DFAE89;
    transition: background-color .3s;
}

li a[href] {
    background-color: #CE8147;
    text-decoration: none;
    color: inherit;
}

li *:hover {
    background-color: #561D25 !important;
    color: #CE8147 !important;
}